[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
loguru = "*"
aiohttp = "*"
databases = {extras = ["sqlite"], version = "*"}
pydantic = "*"
apscheduler = "*"
telethon = "*"
numpy = "*"

[dev-packages]
watchdog = "*"
pyyaml = "*"
argh = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.8"

[scripts]
